@using EntityLayer.Concrete_Somut
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<br />
<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Kategori Ad</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr >
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td><a href="/AdminCategory/DeletemyCategory/@item.CategoryId" class="btn btn-outline-danger"> Sil </a></td>
                                                        <!-- Giderken her bir butona bitane id vericeksin-->
            <td><a href="/AdminCategory/UpdmyCategory/@item.CategoryId" class="btn btn-outline-warning"> Güncelle </a></td>
            <td><a href="#" class="btn btn-outline-primary"> Başlıklar </a></td>
        </tr>
    }
</table>
<br />
<a href="/AdminCategory/AddMyCategory" class="btn btn-dark">Yeni Kategori</a>