
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>DURUM</th>
        <th>KATEGORİ</th>
    </tr>

    <tr>
        <th>Deneme</th>
        <th>Açık</th>
        <th>KAtegori Deneme</th>
    </tr>

    <tr>
        <th>Deneme 2</th>
        <th>Silinmiş</th>
        <th>KAtegori 2.Deneme</th>
    </tr>

</table>