@using EntityLayer.Concrete_Somut
@model List<Category>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>List Category</title>
</head>
<body>
    <div>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <br />
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Ad</th>
                <th>Açıklama</th>
                <th>Durum</th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.CategoryId</td>
                </tr>
            }
        </table>

    </div>
</body>
</html>

