
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Tablo 1</h3>
        <br />
        <table>
            <tr>
                <th>KİMLİK NUMARASI</th>
                <th>ADI</th>
                <th>AÇIKLAMA</th>
                <th>DURUM</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Lorem Ipsum</td>
                <td>Deneme</td>
                <td>Dolor Sit Amet!</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Lorem Ipsum</td>
                <td>Deneme</td>
                <td>Dolor Sit Amet!</td>
            </tr>
        </table>
    </div>
</body>
</html>
