@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My MVC Project</h2>
        <p>
            ASP.NET MVC ile dinamik web sitesi yapıyoruz
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Keşfet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kullanılan Kütüphaneler</h2>
        <p>Tüm Nuget uzantı, araç ve sınıflar burada listelenebilir.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Keşfet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kullanılan tüm özellikler ve geliştirmeler</h2>
        <p>Bir menü halinde not tutulabilir.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Keşfet &raquo;</a></p>
    </div>
</div>