
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Deneme.cshtml";
}

<h2>Index</h2>
<br />
<h3>İçerik ekledim</h3>
<p>içeriker html kısımında, yani burada tasarımlar, vuraya bağlı olan view içerisinde</p>
